<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <railsformers_ecar_import>
            <general>
                <test>Toto je pouze test</test>
            </general>
        </railsformers_ecar_import>
    </default>
</config>
